# 6.1: Sourcing Open Data - Data Cleaning and Consistency Checks

In [318]:
#Importing libraries
import pandas as pd
import numpy as np
import os

In [319]:
path = r"C:\Users\hp\Olist_Project"

In [320]:
path

'C:\\Users\\hp\\Olist_Project'

In [321]:
df_customer = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'olist_customers_dataset.csv'), index_col=False)

In [322]:
df_customer.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [323]:
df_customer.describe()

       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

In [324]:
df_customer.shape

(99441, 5)

### Checking NaN and Blanks

In [326]:
#count of a column
df_customer['customer_state'].value_counts(dropna = False)

customer_state
SP    41746
RJ    12852
MG    11635
RS     5466
PR     5045
SC     3637
BA     3380
DF     2140
ES     2033
GO     2020
PE     1652
CE     1336
PA      975
MT      907
MA      747
MS      715
PB      536
PI      495
RN      485
AL      413
SE      350
TO      280
RO      253
AM      148
AC       81
AP       68
RR       46
Name: count, dtype: int64

In [327]:
df_customer.dtypes

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

In [328]:
# Checking NaNs
for customer_id in df_customer.customer_id:  
    if pd.isna(customer_id) or customer_id == "":   # Check for NaN or empty string
        print("Blank or NaN found:", customer_id)

In [329]:
# Checking NaNs
for customer_unique_id in df_customer.customer_unique_id: 
    if pd.isna(customer_unique_id):   # Check for NaN or empty string
        print("NaN found:", value)

In [330]:
# Checking NaNs
for customer_zip_code_prefix in df_customer.customer_zip_code_prefix:  # .values gives you the underlying data as a NumPy array
    if pd.isna(customer_zip_code_prefix) or customer_zip_code_prefix == "":  # Check for NaN or empty string
        print("Blank or NaN found:", customer_zip_code_prefix)

In [331]:
# Checking NaNs
for customer_city in df_customer.customer_city:  
    if pd.isna(customer_city) or customer_city == "":  # Check for NaN or empty string
        print("Blank or NaN found:", customer_city)

In [332]:
# Checking for NaNs and blanks in the customer_state column
for customer_state in df_customer.customer_state:
    if pd.isna(customer_state) or customer_state == "":  # Check for NaN or empty string
        print("Blank or NaN found:", customer_state)

### Checking for mix types

In [334]:
for col in df_customer.columns.tolist():
    weird = (df_customer [[col]].map(type) != df_customer[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_customer[weird]) > 0:
        print(col)

### Checking null values

In [336]:
df_customer.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

### Finding duplicates

In [338]:
df_customer[df_customer.duplicated()]

Empty DataFrame
Columns: [customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state]
Index: []

### olist.customer.dataset checked for mix types, duplicates, inconsistencies, nulls and NaNs. The data set is good to use for further analysis.

In [340]:
df_customer.dtypes

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

In [341]:
#changing data type
df_customer['customer_zip_code_prefix'] = df_customer['customer_zip_code_prefix'].astype('int')

In [342]:
df_customer.dtypes

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int32
customer_city               object
customer_state              object
dtype: object

In [343]:
df_customer.to_csv(os.path.join(path, '02 Data','Prepared Data', 'customers_checked.csv'))

# Order items Data Checks

In [345]:
df_order_items = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'olist_order_items_dataset.csv'), index_col = False)

In [346]:
df_order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [347]:
df_order_items.shape

(112650, 7)

In [348]:
df_order_items[df_order_items.duplicated()]

Empty DataFrame
Columns: [order_id, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value]
Index: []

In [349]:
for col in df_order_items.columns.tolist():
    weird = (df_order_items [[col]].map(type) != df_order_items[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_order_items[weird]) > 0:
        print(col)

In [350]:
df_order_items.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [351]:
df_order_items.describe()

       order_item_id          price  freight_value
count  112650.000000  112650.000000  112650.000000
mean        1.197834     120.653739      19.990320
std         0.705124     183.633928      15.806405
min         1.000000       0.850000       0.000000
25%         1.000000      39.900000      13.080000
50%         1.000000      74.990000      16.260000
75%         1.000000     134.900000      21.150000
max        21.000000    6735.000000     409.680000

In [352]:
df_order_items.loc[df_order_items['price'] == 6735]

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
3556,0812eb902a67711a1cb742b3cdaa65ae,1,489ae2aa008f021502940f251d4cce7f,e3b4998c7a498169dc7bce44e6bb6277,2017-02-16 20:37:36,6735.0,194.31

In [353]:
# Cross Checking the highest value of payment from order_payments dataset

In [354]:
df_order_items.loc[df_order_items['order_id'] == "03caa2c082116e1d31e67e9ae3700499"]

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
1647,03caa2c082116e1d31e67e9ae3700499,1,5769ef0a239114ac3a854af00df129e4,b37c4c02bda3161a7546a4e6d222d5b2,2017-10-06 15:28:20,1680.0,28.01
1648,03caa2c082116e1d31e67e9ae3700499,2,5769ef0a239114ac3a854af00df129e4,b37c4c02bda3161a7546a4e6d222d5b2,2017-10-06 15:28:20,1680.0,28.01
1649,03caa2c082116e1d31e67e9ae3700499,3,5769ef0a239114ac3a854af00df129e4,b37c4c02bda3161a7546a4e6d222d5b2,2017-10-06 15:28:20,1680.0,28.01
1650,03caa2c082116e1d31e67e9ae3700499,4,5769ef0a239114ac3a854af00df129e4,b37c4c02bda3161a7546a4e6d222d5b2,2017-10-06 15:28:20,1680.0,28.01
1651,03caa2c082116e1d31e67e9ae3700499,5,5769ef0a239114ac3a854af00df129e4,b37c4c02bda3161a7546a4e6d222d5b2,2017-10-06 15:28:20,1680.0,28.01
1652,03caa2c082116e1d31e67e9ae3700499,6,5769ef0a239114ac3a854af00df129e4,b37c4c02bda3161a7546a4e6d222d5b2,2017-10-06 15:28:20,1680.0,28.01
1653,03caa2c082116e1d31e67e9ae3700499,7,5769ef0a239114ac3a854af00df129e4,b37c4c02bda3161a7546a4e6d222d5b2,2017-10-06 15:28:20,1680.0,28.01
1654,03caa2c082116e1d31e67e9ae3700499,8,5769ef0a239114ac3a854af00df129e4,b37c4c02bda3161a7546a4e6d222d5b2,2017-10-06 15:28:20,1680.0,28.01

### There are no missing, blanks, NaNs or duplicates in Order items dataset

In [356]:
df_order_items.dtypes

order_id                object
order_item_id            int64
product_id              object
seller_id               object
shipping_limit_date     object
price                  float64
freight_value          float64
dtype: object

In [357]:
# Convert to datetime
df_order_items['shipping_limit_date'] = pd.to_datetime(df_order_items['shipping_limit_date'])

In [358]:
df_order_items.dtypes

order_id                       object
order_item_id                   int64
product_id                     object
seller_id                      object
shipping_limit_date    datetime64[ns]
price                         float64
freight_value                 float64
dtype: object

In [359]:
# Exporting the checked dataset
df_order_items.to_csv(os.path.join(path, '02 Data','Prepared Data', 'order_items_checked.csv'))

# Order Payments Dataset Checks

In [361]:
df_order_payments = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'olist_order_payments_dataset.csv'), index_col = False)

In [362]:
df_order_payments.shape

(103886, 5)

In [363]:
df_order_payments.describe()

       payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000

In [364]:
df_order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [365]:
df_order_payments.loc[df_order_payments['payment_value'] == 13664.08]

,order_id,payment_sequential,payment_type,payment_installments,payment_value
52107,03caa2c082116e1d31e67e9ae3700499,1,credit_card,1,13664.08

In [366]:
# checking the duplicates
df_order_payments[df_order_payments.duplicated()]

Empty DataFrame
Columns: [order_id, payment_sequential, payment_type, payment_installments, payment_value]
Index: []

In [367]:
# checking the null values
df_order_payments.isnull().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [368]:
# checking the mix values
for col in df_order_payments.columns.tolist():
    weird = (df_order_payments [[col]].map(type) != df_order_payments[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_order_payments[weird]) > 0:
        print(col)

In [369]:
df_order_payments.isna()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,False,False,False,False,False
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False
...,...,...,...,...,...
103881,False,False,False,False,False
103882,False,False,False,False,False
103883,False,False,False,False,False
103884,False,False,False,False,False
103885,False,False,False,False,False

In [370]:
# checking for NaN values
df_order_payments.isna().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [371]:
df_order_payments.dtypes

order_id                 object
payment_sequential        int64
payment_type             object
payment_installments      int64
payment_value           float64
dtype: object

In [372]:
## There are no missing, blanks, NaNs or duplicates in Order payments items dataset

In [373]:
# Exporting the checked dataset
df_order_payments.to_csv(os.path.join(path, '02 Data','Prepared Data', 'order_payments_checked.csv'))

# Order Reviews Dataset Checks

In [375]:
# importing dataset
df_order_reviews = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'olist_order_reviews_dataset.csv'), index_col = False)

In [376]:
df_order_reviews.shape

(99224, 7)

In [377]:
df_order_reviews.describe()

       review_score
count  99224.000000
mean       4.086421
std        1.347579
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000

In [378]:
df_order_reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [379]:
df_order_reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [380]:
# checking the null values
df_order_reviews.isnull().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [381]:
# Although there are null values, there are from 'Review Comment Title' and 'Review Comment Message' columns which are string datatype. 
# For our analysis, we would use review score and other columns.

In [382]:
# checking for duplicates
df_order_reviews[df_order_reviews.duplicated()]

Empty DataFrame
Columns: [review_id, order_id, review_score, review_comment_title, review_comment_message, review_creation_date, review_answer_timestamp]
Index: []

In [383]:
# checking the mix values
for col in df_order_reviews.columns.tolist():
    weird = (df_order_reviews [[col]].map(type) != df_order_reviews[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_order_reviews[weird]) > 0:
        print(col)

review_comment_title
review_comment_message

In [384]:
# Checking for mix values in columns
for col in df_order_reviews.columns.tolist():
    weird = (df_order_reviews [[col]].map(type) != df_order_reviews[[col]].iloc[0].apply(type)).any(axis = 1)
    if len(df_order_reviews[weird]) > 0:
             print(col)

review_comment_title
review_comment_message

In [385]:
df_order_reviews.dtypes

review_id                  object
order_id                   object
review_score                int64
review_comment_title       object
review_comment_message     object
review_creation_date       object
review_answer_timestamp    object
dtype: object

In [386]:
# There are mixed datatype in columns: review_comment_title and review_comment_message
# We will not make any changes in these columns

In [387]:
df_order_reviews.dtypes

review_id                  object
order_id                   object
review_score                int64
review_comment_title       object
review_comment_message     object
review_creation_date       object
review_answer_timestamp    object
dtype: object

In [388]:
# Convert to datetime
df_order_reviews['review_creation_date'] = pd.to_datetime(df_order_reviews['review_creation_date'])
df_order_reviews['review_answer_timestamp'] = pd.to_datetime(df_order_reviews['review_answer_timestamp'])

In [389]:
df_order_reviews.dtypes

review_id                          object
order_id                           object
review_score                        int64
review_comment_title               object
review_comment_message             object
review_creation_date       datetime64[ns]
review_answer_timestamp    datetime64[ns]
dtype: object

In [390]:
# Exporting the checked dataset
df_order_reviews.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_reviews_checked.csv'))

# Geolocation Dataset Checks

In [392]:
df_geolocation = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'olist_geolocation_dataset.csv'), index_col=False)

In [393]:
df_geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [394]:
df_geolocation.shape

(1000163, 5)

In [395]:
df_geolocation[df_geolocation.duplicated()]

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
15,1046,-23.546081,-46.644820,sao paulo,SP
44,1046,-23.546081,-46.644820,sao paulo,SP
65,1046,-23.546081,-46.644820,sao paulo,SP
66,1009,-23.546935,-46.636588,sao paulo,SP
67,1046,-23.546081,-46.644820,sao paulo,SP
...,...,...,...,...,...
1000153,99970,-28.343273,-51.873734,ciriaco,RS
1000154,99950,-28.070493,-52.011342,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [396]:
# removing duplicates and creating a new dataframe
df_geolocation_dedup = df_geolocation.drop_duplicates()

In [397]:
df_geolocation_dedup.shape

(738332, 5)

In [398]:
# checking the null values
df_geolocation_dedup.isna().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [399]:
# checking the null values
df_geolocation_dedup.isnull().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [400]:
# Checking for mix values in columns
for col in df_geolocation_dedup.columns.tolist():
    weird = (df_geolocation_dedup[[col]].map(type) != df_geolocation_dedup[[col]].iloc[0].apply(type)).any(axis = 1)
    if len(df_geolocation_dedup[weird]) > 0:
             print(col)

In [401]:
df_geolocation_dedup.dtypes

geolocation_zip_code_prefix      int64
geolocation_lat                float64
geolocation_lng                float64
geolocation_city                object
geolocation_state               object
dtype: object

In [402]:
df_geolocation_dedup['geolocation_zip_code_prefix'] = df_geolocation_dedup['geolocation_zip_code_prefix'].astype('int')

C:\Users\hp\AppData\Local\Temp\ipykernel_33532\231710176.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_geolocation_dedup['geolocation_zip_code_prefix'] = df_geolocation_dedup['geolocation_zip_code_prefix'].astype('int')

In [403]:
df_geolocation_dedup.dtypes

geolocation_zip_code_prefix      int32
geolocation_lat                float64
geolocation_lng                float64
geolocation_city                object
geolocation_state               object
dtype: object

In [404]:
# Duplicates are dropped, there were no null values or mix types

In [405]:
# Exporting the cleaned data
df_geolocation_dedup.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'geolocation_cleaned.csv'))

# Orders Dataset Checks

In [407]:
df_orders = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'olist_orders_dataset.csv'), index_col = False)

In [408]:
df_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [409]:
df_orders.shape

(99441, 8)

In [410]:
df_orders.describe()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,99441,99441,99441,99441,99281,97658,96476,99441
unique,99441,99441,8,98875,90733,81018,95664,459
top,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2018-04-11 10:48:14,2018-02-27 04:31:10,2018-05-09 15:48:00,2018-05-08 23:38:46,2017-12-20 00:00:00
freq,1,1,96478,3,9,47,3,522

In [411]:
#count of a column
df_orders['order_status'].value_counts(dropna = False)

order_status
delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: count, dtype: int64

In [412]:
df_orders[df_orders.duplicated()]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date]
Index: []

In [413]:
# checking the null values
df_orders.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [414]:
# Create a new dataframe with missing values in orders.csv
df_nan = df_orders[df_orders[['order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date']].isnull().any(axis=1)]

In [415]:
df_nan.shape

(2980, 8)

In [416]:
df_nan.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:08,2017-04-13 13:25:17,NaN,NaN,2017-05-09 00:00:00
44,ee64d42b8cf066f35eac1cf57de1aa85,caded193e8e47b8362864762a83db3c5,shipped,2018-06-04 16:44:48,2018-06-05 04:31:18,2018-06-05 14:32:00,NaN,2018-06-28 00:00:00
103,0760a852e4e9d89eb77bf631eaaf1c84,d2a79636084590b7465af8ab374a8cf5,invoiced,2018-08-03 17:44:42,2018-08-07 06:15:14,NaN,NaN,2018-08-21 00:00:00
128,15bed8e2fec7fdbadb186b57c46c92f2,f3f0e613e0bdb9c7cee75504f0f90679,processing,2017-09-03 14:22:03,2017-09-03 14:30:09,NaN,NaN,2017-10-03 00:00:00
154,6942b8da583c2f9957e990d028607019,52006a9383bf149a4fb24226b173106f,shipped,2018-01-10 11:33:07,2018-01-11 02:32:30,2018-01-11 19:39:23,NaN,2018-02-07 00:00:00

In [417]:
# dropping NaNs from the dataset and assigning the clean dataset to a new dataset
df_orders_clean = df_orders[df_orders[['order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date']].notnull().all(axis=1)]

In [418]:
df_orders_clean.shape

(96461, 8)

In [419]:
# 2980 NaNs have been dropped

In [420]:
df_orders_clean[df_orders_clean.duplicated()]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date]
Index: []

In [421]:
# Checking for mix values in columns
for col in df_orders_clean.columns.tolist():
    weird = (df_orders_clean [[col]].map(type) != df_orders_clean[[col]].iloc[0].apply(type)).any(axis = 1)
    if len(df_orders_clean[weird]) > 0:
             print(col)

In [422]:
df_orders_clean.dtypes

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

In [423]:
# Convert to datetime
df_orders_clean['order_purchase_timestamp'] = pd.to_datetime(df_orders_clean['order_purchase_timestamp'])
df_orders_clean['order_approved_at'] = pd.to_datetime(df_orders_clean['order_approved_at'])
df_orders_clean['order_delivered_carrier_date'] = pd.to_datetime(df_orders_clean['order_delivered_carrier_date'])
df_orders_clean['order_delivered_customer_date'] = pd.to_datetime(df_orders_clean['order_delivered_customer_date'])
df_orders_clean['order_estimated_delivery_date'] = pd.to_datetime(df_orders_clean['order_estimated_delivery_date'])

C:\Users\hp\AppData\Local\Temp\ipykernel_33532\2988565576.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_orders_clean['order_purchase_timestamp'] = pd.to_datetime(df_orders_clean['order_purchase_timestamp'])
C:\Users\hp\AppData\Local\Temp\ipykernel_33532\2988565576.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_orders_clean['order_approved_at'] = pd.to_datetime(df_orders_clean['order_approved_at'])
C:\Users\hp\AppData\Local\Temp\ipykernel_33532\2988565576.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_orders_clean['order_delivered_carrier_date'] = pd.to_datetime(df_orders_clean['order_delivered_carrier_date'])
C:\Users\hp\AppData\Local\Temp\ipykernel_33532\2988565576.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_orders_clean['order_delivered_customer_date'] = pd.to_datetime(df_orders_clean['order_delivered_customer_date'])
C:\Users\hp\AppData\Local\Temp\ipykernel_33532\2988565576.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_orders_clean['order_estimated_delivery_date'] = pd.to_datetime(df_orders_clean['order_estimated_delivery_date'])

In [424]:
df_orders_clean.dtypes

order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
dtype: object

In [425]:
# there no mix types, duplicates and null values have been cleaned in the dataset

In [426]:
# Exporting the cleaned data
df_orders_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_cleaned.csv'))

# Products Dataset Checks

In [428]:
df_products = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'olist_products_dataset.csv'), index_col = False)

In [429]:
df_products.shape

(32951, 9)

In [430]:
df_products.describe()

,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32341.000000,32341.000000,32341.000000,32949.000000,32949.000000,32949.000000,32949.000000
mean,48.476949,771.495285,2.188986,2276.472488,30.815078,16.937661,23.196728
std,10.245741,635.115225,1.736766,4282.038731,16.914458,13.637554,12.079047
min,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000
25%,42.000000,339.000000,1.000000,300.000000,18.000000,8.000000,15.000000
50%,51.000000,595.000000,1.000000,700.000000,25.000000,13.000000,20.000000
75%,57.000000,972.000000,3.000000,1900.000000,38.000000,21.000000,30.000000
max,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000

In [431]:
df_products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [432]:
df_products.rename(columns={
    'product_name_lenght': 'product_name_length', 
    'product_description_lenght': 'product_description_length', 
    'product_weight_g': 'product_weight_grms'
    }, inplace=True)

In [433]:
df_products.head()

,product_id,product_category_name,product_name_length,product_description_length,product_photos_qty,product_weight_grms,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [434]:
# checking the null values
df_products.isna().sum()

product_id                      0
product_category_name         610
product_name_length           610
product_description_length    610
product_photos_qty            610
product_weight_grms             2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [435]:
df_products.isna()

,product_id,product_category_name,product_name_length,product_description_length,product_photos_qty,product_weight_grms,product_length_cm,product_height_cm,product_width_cm
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
32946,False,False,False,False,False,False,False,False,False
32947,False,False,False,False,False,False,False,False,False
32948,False,False,False,False,False,False,False,False,False
32949,False,False,False,False,False,False,False,False,False
32950,False,False,False,False,False,False,False,False,False

In [436]:
null_rows = df_products[df_products.isnull().any(axis=1)]
print(null_rows)

                             product_id product_category_name  \
105    a41e356c76fab66334f36de622ecbd3a                   NaN
128    d8dee61c2034d6d075997acef1870e9b                   NaN
145    56139431d72cd51f19eb9f7dae4d1617                   NaN
154    46b48281eb6d663ced748f324108c733                   NaN
197    5fb61f482620cb672f5e586bb132eae9                   NaN
...                                 ...                   ...
32515  b0a0c5dd78e644373b199380612c350a                   NaN
32589  10dbe0fbaa2c505123c17fdc34a63c56                   NaN
32616  bd2ada37b58ae94cc838b9c0569fecd8                   NaN
32772  fa51e914046aab32764c41356b9d4ea4                   NaN
32852  c4ceee876c82b8328e9c293fa0e1989b                   NaN

       product_name_length  product_description_length  product_photos_qty  \
105                    NaN                         NaN                 NaN
128                    NaN                         NaN                 NaN
145                    NaN                         NaN                 NaN
154                    NaN                         NaN                 NaN
197                    NaN                         NaN                 NaN
...                    ...                         ...                 ...
32515                  NaN                         NaN                 NaN
32589                  NaN                         NaN                 NaN
32616                  NaN                         NaN                 NaN
32772                  NaN                         NaN                 NaN
32852                  NaN                         NaN                 NaN

       product_weight_grms  product_length_cm  product_height_cm  \
105                  650.0               17.0               14.0
128                  300.0               16.0                7.0
145                  200.0               20.0               20.0
154                18500.0               41.0               30.0
197                  300.0               35.0                7.0
...                    ...                ...                ...
32515               1800.0               30.0               20.0
32589                800.0               30.0               10.0
32616                200.0               21.0                8.0
32772               1300.0               45.0               16.0
32852                700.0               28.0                3.0

       product_width_cm
105                12.0
128                20.0
145                20.0
154                41.0
197                12.0
...                 ...
32515              70.0
32589              23.0
32616              16.0
32772              45.0
32852              43.0

[611 rows x 9 columns]

In [437]:
# Create a new dataframe with missing values in products.csv
df_nan = df_products[df_products[['product_category_name', 'product_name_length', 'product_description_length', 
                                  'product_photos_qty', 'product_weight_grms', 
                                  'product_length_cm', 'product_height_cm', 'product_width_cm']].isnull().any(axis=1)]

In [438]:
df_nan.shape

(611, 9)

In [439]:
# dropping NaNs from the dataset and assigning the clean dataset to a new dataset
df_products_clean = df_products[df_products[['product_category_name', 'product_name_length', 'product_description_length', 
                                  'product_photos_qty', 'product_weight_grms', 
                                  'product_length_cm', 'product_height_cm', 'product_width_cm']].notnull().all(axis=1)]

In [440]:
df_products_clean.shape

(32340, 9)

In [441]:
#count of a column
df_products_clean['product_category_name'].value_counts(dropna = False)

product_category_name
cama_mesa_banho                  3029
esporte_lazer                    2867
moveis_decoracao                 2657
beleza_saude                     2444
utilidades_domesticas            2335
                                 ...
fashion_roupa_infanto_juvenil       5
casa_conforto_2                     5
pc_gamer                            3
seguros_e_servicos                  2
cds_dvds_musicais                   1
Name: count, Length: 73, dtype: int64

In [442]:
# Checking for mix values in columns
for col in df_products_clean.columns.tolist():
    weird = (df_products_clean [[col]].map(type) != df_products_clean[[col]].iloc[0].apply(type)).any(axis = 1)
    if len(df_products_clean[weird]) > 0:
             print(col)

In [443]:
df_products_clean[df_products_clean.duplicated()]

Empty DataFrame
Columns: [product_id, product_category_name, product_name_length, product_description_length, product_photos_qty, product_weight_grms, product_length_cm, product_height_cm, product_width_cm]
Index: []

In [444]:
df_products_clean.dtypes

product_id                     object
product_category_name          object
product_name_length           float64
product_description_length    float64
product_photos_qty            float64
product_weight_grms           float64
product_length_cm             float64
product_height_cm             float64
product_width_cm              float64
dtype: object

In [445]:
# 611 rows of null values have been dropped, no mix types or duplicates found

In [446]:
# Exporting the cleaned data
df_products_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_cleaned.csv'))

# Seller Dataset Checks

In [448]:
df_sellers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'olist_sellers_dataset.csv'), index_col = False)

In [449]:
df_sellers.shape

(3095, 4)

In [450]:
df_sellers.describe()

       seller_zip_code_prefix
count             3095.000000
mean             32291.059451
std              32713.453830
min               1001.000000
25%               7093.500000
50%              14940.000000
75%              64552.500000
max              99730.000000

In [451]:
df_sellers.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [452]:
# Checking for duplicates
df_sellers[df_sellers.duplicated()]

Empty DataFrame
Columns: [seller_id, seller_zip_code_prefix, seller_city, seller_state]
Index: []

In [453]:
# checking the null values
df_sellers.isnull().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [454]:
# checking the null values
df_sellers.isna().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [455]:
# Checking for mix values in columns
for col in df_sellers.columns.tolist():
    weird = (df_sellers[[col]].map(type) != df_sellers[[col]].iloc[0].apply(type)).any(axis = 1)
    if len(df_sellers[weird]) > 0:
             print(col)

In [456]:
df_sellers.dtypes

seller_id                 object
seller_zip_code_prefix     int64
seller_city               object
seller_state              object
dtype: object

In [457]:
# No duplicates, mix type or null values were found

In [458]:
# Exporting the cleaned data
df_sellers.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'sellers_cleaned.csv'))

# Product Category name Translation Dataset Check

In [460]:
# importing dataset
df_product_category = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'product_category_name_translation.csv'), index_col = False)

In [461]:
df_product_category.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [462]:
df_product_category.shape

(71, 2)

In [463]:
df_product_category.isnull().sum()

product_category_name            0
product_category_name_english    0
dtype: int64

In [464]:
df_product_category.isna().sum()

product_category_name            0
product_category_name_english    0
dtype: int64

In [465]:
df_product_category[df_product_category.duplicated()]

Empty DataFrame
Columns: [product_category_name, product_category_name_english]
Index: []

In [466]:
# Checking for mix values in columns
for col in df_product_category.columns.tolist():
    weird = (df_product_category[[col]].map(type) != df_product_category[[col]].iloc[0].apply(type)).any(axis = 1)
    if len(df_product_category[weird]) > 0:
             print(col)

In [467]:
df_product_category.dtypes

product_category_name            object
product_category_name_english    object
dtype: object

In [468]:
# Exporting the cleaned data
df_product_category.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'product_category_cleaned.csv'))