In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r"C:\Users\hp\Olist_Project"

In [3]:
df_customer = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'customers_checked.csv'), index_col=False)

In [4]:
df_geolocation = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'geolocation_cleaned.csv'), index_col=False)

In [5]:
df_orders_items = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'order_items_checked.csv'), index_col=False)

In [6]:
df_order_payments = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'order_payments_checked.csv'), index_col=False)

In [7]:
df_orders = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_cleaned.csv'), index_col=False)

In [8]:
df_orders_reviews = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_reviews_checked.csv'), index_col=False)

In [9]:
df_product_category = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'product_category_cleaned.csv'), index_col=False)

In [10]:
df_products = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_cleaned.csv'), index_col=False)

In [11]:
df_sellers = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'sellers_cleaned.csv'), index_col=False)

In [12]:
df_sellers.head(50)

,Unnamed: 0,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
5,5,c240c4061717ac1806ae6ee72be3533b,20920,rio de janeiro,RJ
6,6,e49c26c3edfa46d227d5121a6b6e4d37,55325,brejao,PE
7,7,1b938a7ec6ac5061a66a3766e0e75f90,16304,penapolis,SP
8,8,768a86e36ad6aae3d03ee3c6433d61df,1529,sao paulo,SP
9,9,ccc4bbb5f32a6ab2b7066a4130f114e3,80310,curitiba,PR
10,10,8cb7c5ddf41f4d506eba76e9a4702a25,75110,anapolis,GO
11,11,a7a9b880c49781da66651ccf4ba9ac38,13530,itirapina,SP
12,12,8bd0f31cf0a614c658f6763bd02dea69,1222,sao paulo,SP
13,13,05a48cc8859962767935ab9087417fbb,5372,sao paulo,SP
14,14,7b8e8ec35bad4b0ef7e3963650b0a87b,88705,tubarao,SC
15,15,1444c08e64d55fb3c25f0f09c07ffcf2,42738,lauro de freitas,BA
16,16,166e8f1381e09651983c38b1f6f91c11,88780,imbituba,SC
17,17,e38db885400cd35c71dfd162f2c1dbcf,70740,brasilia,DF
18,18,d2e753bb80b7d4faa77483ed00edc8ca,45810,porto seguro,BA
19,19,f9ec7093df3a7b346b7bcf7864069ca3,5138,sao paulo,SP
20,20,4e6015589b781adaa5ce7f1892d06bb1,11440,guaruja,SP
21,21,4cf490a58259286ada5ba8525ba9e84a,14910,tabatinga,SP
22,22,f7496d659ca9fdaf323c0aae84176632,4156,sao paulo,SP
23,23,2ff97219cb8622eaf3cd89b7d9c09824,13320,salto,SP
24,24,8bd0e3abda539b9479c4b44a691be1ec,98910,tres de maio,RS
25,25,2a1348e9addc1af5aaa619b1a3679d6b,30494,belo horizonte,MG
26,26,2078fe5066350e7d220c0ad3a3bbc6c1,86707,arapongas,PR
27,27,116ccb1a1604bc88e4d234a8c23f33de,9850,sao bernardo do campo,SP
28,28,430315b7bb4b6e4b3c978f9dfa9b0558,4857,sao paulo,SP
29,29,406822777a0b9eb5c50e442dd4cd3ec5,18500,tatui,SP
30,30,4dbd95a08b31ede5c82d3f861cb1ce1a,80210,curitiba,PR
31,31,e9e446d01bd10a97a8ffcfc4a3a20cb2,2261,sao paulo,SP
32,32,d52cbce9845184537284a23c3bc3da0e,88495,garopaba,SC
33,33,d9a84e1403de8da0c3aa531d6d108ba6,3562,sao paulo,SP
34,34,9c690ceacd5c66731bf443ea810195cb,37650,camanducaia,MG
35,35,1f9ab4708f3056ede07124aad39a2554,17602,tupa,SP
36,36,1961c3e1272bfeceb05d0b78b5bbfdaf,7241,guarulhos,SP
37,37,d3e7d37c0df9aef383f3f2a15b0dddfb,83050,sao jose dos pinhais,PR
38,38,ec2e006556300a79a5a91e4876ab3a56,3445,sao paulo,SP
39,39,b2a6d334e2833acea353624840e25a0e,4133,sao paulo,SP
40,40,d3674f271c91f824f82d24d92011f669,72233,brasilia,DF
41,41,768de2a4fc06aacecb9a586ccc30746a,70645,brasilia,DF
42,42,a81466620e46a6970b22ef40379fdfc9,88730,sao ludgero,SC
43,43,5c030029b5916fed0986310385ec9009,88075,sao jose,SC
44,44,c0f783394e37cd9c9d7f5f81141450fa,13416,piracicaba,SP
45,45,c353f8fc0ce8344999f17d578eb69a5e,90850,porto alegre,RS
46,46,8444e55c1f13cd5c179851e5ca5ebd00,37584,congonhal,MG
47,47,28a26ebce31d5918b181ede016fd693b,31950,belo horizonte,MG
48,48,41ab63a91b8b264e8c8780368bf1dd5b,31555,belo horizonte,MG
49,49,8759e7aedd644f487315e5860962f162,9251,santo andre,SP

In [13]:
df_customer.head()

,Unnamed: 0,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [14]:
#merge the dataframes
df_merged_cust_orders = df_customer.merge(df_orders, on = 'customer_id', how = "inner")

In [15]:
df_merged_cust_orders.head()

,Unnamed: 0_x,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,Unnamed: 0_y,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,88492,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05
1,1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,90418,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06
2,2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,22557,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13
3,3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,32180,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10
4,4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,69902,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15

In [16]:
df_merged_cust_orders_items = df_merged_cust_orders.merge(df_orders_items, on=["order_id"], how="inner")

In [17]:
# Drop duplicate column from df_order_payments
df_order_payments = df_order_payments.drop('Unnamed: 0', axis=1)

In [18]:
df_merged_cust_orders_items_payments = df_merged_cust_orders_items.merge(df_order_payments, on=["order_id"], how="inner")

In [19]:
df_merged_cust_orders_items_payments.head()

,Unnamed: 0_x,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,Unnamed: 0_y,order_id,order_status,order_purchase_timestamp,...,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value
0,0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,88492,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,...,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,1,credit_card,2,146.87
1,1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,90418,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,...,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-01-18 20:58:32,289.00,46.48,1,credit_card,8,335.48
2,2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,22557,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,...,1,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,2018-06-05 16:19:10,139.94,17.79,1,credit_card,7,157.73
3,3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,32180,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,...,1,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,2018-03-27 16:31:16,149.94,23.36,1,credit_card,1,173.30
4,4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,69902,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,...,1,9391a573abe00141c56e38d84d7d5b3b,4a3ca9315b744ce9f8e9374361493884,2018-07-31 10:10:09,230.00,22.25,1,credit_card,8,252.25

In [20]:
# Drop duplicate column from df_order_payments
df_merged_cust_orders_items_payments = df_merged_cust_orders_items_payments.drop(['Unnamed: 0_x', 'Unnamed: 0_y'], axis=1)

In [21]:
df_merged_cust_orders_items_payments.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,1,credit_card,2,146.87
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,...,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-01-18 20:58:32,289.00,46.48,1,credit_card,8,335.48
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,...,1,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,2018-06-05 16:19:10,139.94,17.79,1,credit_card,7,157.73
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,...,1,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,2018-03-27 16:31:16,149.94,23.36,1,credit_card,1,173.30
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,...,1,9391a573abe00141c56e38d84d7d5b3b,4a3ca9315b744ce9f8e9374361493884,2018-07-31 10:10:09,230.00,22.25,1,credit_card,8,252.25

In [22]:
df_merged_cust_orders_items_payments_reviews = df_merged_cust_orders_items_payments.merge(df_orders_reviews, on=["order_id"], how="inner")

In [23]:
df_merged_cust_orders_items_payments_reviews.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,payment_type,payment_installments,payment_value,Unnamed: 0_y,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,credit_card,2,146.87,24307,88b8b52d46df026a9d1ad2136a59b30b,4,NaN,NaN,2017-05-26 00:00:00,2017-05-30 22:34:40
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,...,credit_card,8,335.48,67454,02fc48a9efa3e3d0f1a8ea26507eeec3,5,NaN,NaN,2018-01-30 00:00:00,2018-02-10 22:43:29
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,...,credit_card,7,157.73,43730,5ad6695d76ee186dc473c42706984d87,5,NaN,NaN,2018-06-15 00:00:00,2018-06-15 12:10:59
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,...,credit_card,1,173.30,71676,059a801bb31f6aab2266e672cab87bc5,5,NaN,NaN,2018-03-29 00:00:00,2018-04-02 18:36:47
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,...,credit_card,8,252.25,31650,8490879d58d6c5d7773f2739a03f089a,5,a melhor nota,O baratheon è esxelente Amo adoro o baratheon,2018-08-10 00:00:00,2018-08-17 01:59:52

In [24]:
df_merged_cust_orders_items_payments_reviews.shape

(114842, 30)

In [25]:
df_merged_cust_orders_items_payments_reviews.dtypes

customer_id                       object
customer_unique_id                object
customer_zip_code_prefix           int64
customer_city                     object
customer_state                    object
order_id                          object
order_status                      object
order_purchase_timestamp          object
order_approved_at                 object
order_delivered_carrier_date      object
order_delivered_customer_date     object
order_estimated_delivery_date     object
Unnamed: 0_x                       int64
order_item_id                      int64
product_id                        object
seller_id                         object
shipping_limit_date               object
price                            float64
freight_value                    float64
payment_sequential                 int64
payment_type                      object
payment_installments               int64
payment_value                    float64
Unnamed: 0_y                       int64
review_id                         object
review_score                       int64
review_comment_title              object
review_comment_message            object
review_creation_date              object
review_answer_timestamp           object
dtype: object

In [26]:
df_merged_cust_orders_items_payments_reviews_prod = df_merged_cust_orders_items_payments_reviews.merge(df_products, on=["product_id"], how="inner")

In [27]:
# Drop duplicate column from df_order_payments
df_merged_cust_orders_items_payments_reviews_prod = df_merged_cust_orders_items_payments_reviews_prod.drop(['Unnamed: 0_x', 'Unnamed: 0_y'], axis=1)

In [28]:
df_merged_cust_orders_items_payments_reviews_prod_seller = df_merged_cust_orders_items_payments_reviews_prod.merge(df_sellers, 
                                                                                                                   on=["seller_id"], how="inner")

In [29]:
df_merged_cust_orders_items_payments_reviews_prod_seller.dtypes

customer_id                       object
customer_unique_id                object
customer_zip_code_prefix           int64
customer_city                     object
customer_state                    object
order_id                          object
order_status                      object
order_purchase_timestamp          object
order_approved_at                 object
order_delivered_carrier_date      object
order_delivered_customer_date     object
order_estimated_delivery_date     object
order_item_id                      int64
product_id                        object
seller_id                         object
shipping_limit_date               object
price                            float64
freight_value                    float64
payment_sequential                 int64
payment_type                      object
payment_installments               int64
payment_value                    float64
review_id                         object
review_score                       int64
review_comment_title              object
review_comment_message            object
review_creation_date              object
review_answer_timestamp           object
Unnamed: 0_x                       int64
product_category_name             object
product_name_length              float64
product_description_length       float64
product_photos_qty               float64
product_weight_grms              float64
product_length_cm                float64
product_height_cm                float64
product_width_cm                 float64
Unnamed: 0_y                       int64
seller_zip_code_prefix             int64
seller_city                       object
seller_state                      object
dtype: object

In [30]:
df_sellers.head()

,Unnamed: 0,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [31]:
df_geolocation.head()

,Unnamed: 0,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,0,1037,-23.545621,-46.639292,sao paulo,SP
1,1,1046,-23.546081,-46.644820,sao paulo,SP
2,2,1046,-23.546129,-46.642951,sao paulo,SP
3,3,1041,-23.544392,-46.639499,sao paulo,SP
4,4,1035,-23.541578,-46.641607,sao paulo,SP

In [32]:
df_geolocation.rename(columns={'geolocation_zip_code_prefix': 'customer_zip_code_prefix'}, inplace=True)

In [33]:
df_merged_cust_orders_items_payments_reviews_prod_seller_geoloc = df_merged_cust_orders_items_payments_reviews_prod_seller.merge(df_geolocation,on = ["customer_zip_code_prefix"], how = "inner")

In [34]:
df_product_category.head()

   Unnamed: 0   product_category_name product_category_name_english
0           0            beleza_saude                 health_beauty
1           1  informatica_acessorios         computers_accessories
2           2              automotivo                          auto
3           3         cama_mesa_banho                bed_bath_table
4           4        moveis_decoracao               furniture_decor

In [35]:
df_products.head()

,Unnamed: 0,product_id,product_category_name,product_name_length,product_description_length,product_photos_qty,product_weight_grms,product_length_cm,product_height_cm,product_width_cm
0,0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [36]:
# Drop duplicate column
df_merged_cust_orders_items_payments_reviews_prod_seller_geoloc = df_merged_cust_orders_items_payments_reviews_prod_seller_geoloc.drop(['Unnamed: 0_x', 'Unnamed: 0_y'], axis=1)

In [37]:
df_merged_cust_orders_items_payments_reviews_prod_seller_geoloc_prodcat = df_merged_cust_orders_items_payments_reviews_prod_seller_geoloc.merge(df_product_category,on = ["product_category_name"], how = "inner")

In [38]:
df_merged_cust_orders_items_payments_reviews_prod_seller_geoloc_prodcat.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,seller_zip_code_prefix,seller_city,seller_state,Unnamed: 0_x,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,Unnamed: 0_y,product_category_name_english
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,8577,itaquaquecetuba,SP,334422,-20.509898,-47.397866,franca,SP,30,office_furniture
1,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,8577,itaquaquecetuba,SP,334449,-20.497396,-47.399241,franca,SP,30,office_furniture
2,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,8577,itaquaquecetuba,SP,334459,-20.510459,-47.399553,franca,SP,30,office_furniture
3,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,8577,itaquaquecetuba,SP,334462,-20.480940,-47.394161,franca,SP,30,office_furniture
4,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,8577,itaquaquecetuba,SP,334463,-20.515413,-47.398194,franca,SP,30,office_furniture

In [39]:
# Drop duplicate column
df_merged_cust_orders_items_payments_reviews_prod_seller_geoloc_prodcat = df_merged_cust_orders_items_payments_reviews_prod_seller_geoloc_prodcat.drop(['Unnamed: 0_x', 'Unnamed: 0_y'], axis=1)

In [40]:
df_merged_cust_orders_items_payments_reviews_prod_seller_geoloc_prodcat.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,product_category_name_english
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,64.0,31.0,8577,itaquaquecetuba,SP,-20.509898,-47.397866,franca,SP,office_furniture
1,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,64.0,31.0,8577,itaquaquecetuba,SP,-20.497396,-47.399241,franca,SP,office_furniture
2,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,64.0,31.0,8577,itaquaquecetuba,SP,-20.510459,-47.399553,franca,SP,office_furniture
3,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,64.0,31.0,8577,itaquaquecetuba,SP,-20.480940,-47.394161,franca,SP,office_furniture
4,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,64.0,31.0,8577,itaquaquecetuba,SP,-20.515413,-47.398194,franca,SP,office_furniture

In [41]:
df_merged_cust_orders_items_payments_reviews_prod_seller_geoloc_prodcat.dtypes

customer_id                       object
customer_unique_id                object
customer_zip_code_prefix           int64
customer_city                     object
customer_state                    object
order_id                          object
order_status                      object
order_purchase_timestamp          object
order_approved_at                 object
order_delivered_carrier_date      object
order_delivered_customer_date     object
order_estimated_delivery_date     object
order_item_id                      int64
product_id                        object
seller_id                         object
shipping_limit_date               object
price                            float64
freight_value                    float64
payment_sequential                 int64
payment_type                      object
payment_installments               int64
payment_value                    float64
review_id                         object
review_score                       int64
review_comment_title              object
review_comment_message            object
review_creation_date              object
review_answer_timestamp           object
product_category_name             object
product_name_length              float64
product_description_length       float64
product_photos_qty               float64
product_weight_grms              float64
product_length_cm                float64
product_height_cm                float64
product_width_cm                 float64
seller_zip_code_prefix             int64
seller_city                       object
seller_state                      object
geolocation_lat                  float64
geolocation_lng                  float64
geolocation_city                  object
geolocation_state                 object
product_category_name_english     object
dtype: object

In [42]:
# Drop duplicate column 
df_merged_cust_orders_items_payments_reviews_prod_seller_geoloc_prodcat = df_merged_cust_orders_items_payments_reviews_prod_seller_geoloc_prodcat.drop(['product_category_name', 'review_id', 'review_comment_title', 'review_comment_message'], axis=1)

In [43]:
df_merged_cust_orders_items_payments_reviews_prod_seller_geoloc_prodcat.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,product_category_name_english
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,64.0,31.0,8577,itaquaquecetuba,SP,-20.509898,-47.397866,franca,SP,office_furniture
1,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,64.0,31.0,8577,itaquaquecetuba,SP,-20.497396,-47.399241,franca,SP,office_furniture
2,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,64.0,31.0,8577,itaquaquecetuba,SP,-20.510459,-47.399553,franca,SP,office_furniture
3,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,64.0,31.0,8577,itaquaquecetuba,SP,-20.480940,-47.394161,franca,SP,office_furniture
4,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,64.0,31.0,8577,itaquaquecetuba,SP,-20.515413,-47.398194,franca,SP,office_furniture

In [44]:
df_merged_all = df_merged_cust_orders_items_payments_reviews_prod_seller_geoloc_prodcat

In [45]:
df_merged_all.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,product_category_name_english
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,64.0,31.0,8577,itaquaquecetuba,SP,-20.509898,-47.397866,franca,SP,office_furniture
1,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,64.0,31.0,8577,itaquaquecetuba,SP,-20.497396,-47.399241,franca,SP,office_furniture
2,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,64.0,31.0,8577,itaquaquecetuba,SP,-20.510459,-47.399553,franca,SP,office_furniture
3,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,64.0,31.0,8577,itaquaquecetuba,SP,-20.480940,-47.394161,franca,SP,office_furniture
4,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,64.0,31.0,8577,itaquaquecetuba,SP,-20.515413,-47.398194,franca,SP,office_furniture

In [46]:
df_merged_all.dtypes

customer_id                       object
customer_unique_id                object
customer_zip_code_prefix           int64
customer_city                     object
customer_state                    object
order_id                          object
order_status                      object
order_purchase_timestamp          object
order_approved_at                 object
order_delivered_carrier_date      object
order_delivered_customer_date     object
order_estimated_delivery_date     object
order_item_id                      int64
product_id                        object
seller_id                         object
shipping_limit_date               object
price                            float64
freight_value                    float64
payment_sequential                 int64
payment_type                      object
payment_installments               int64
payment_value                    float64
review_score                       int64
review_creation_date              object
review_answer_timestamp           object
product_name_length              float64
product_description_length       float64
product_photos_qty               float64
product_weight_grms              float64
product_length_cm                float64
product_height_cm                float64
product_width_cm                 float64
seller_zip_code_prefix             int64
seller_city                       object
seller_state                      object
geolocation_lat                  float64
geolocation_lng                  float64
geolocation_city                  object
geolocation_state                 object
product_category_name_english     object
dtype: object

In [47]:
df_merged_all.describe()

,customer_zip_code_prefix,order_item_id,price,freight_value,payment_sequential,payment_installments,payment_value,review_score,product_name_length,product_description_length,product_photos_qty,product_weight_grms,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,geolocation_lat,geolocation_lng
count,1.184547e+07,1.184547e+07,1.184547e+07,1.184547e+07,1.184547e+07,1.184547e+07,1.184547e+07,1.184547e+07,1.184547e+07,1.184547e+07,1.184547e+07,1.184547e+07,1.184547e+07,1.184547e+07,1.184547e+07,1.184547e+07,1.184547e+07,1.184547e+07
mean,3.432673e+04,1.203269e+00,1.201242e+02,1.972851e+01,1.090650e+00,2.973990e+00,1.725282e+02,4.081770e+00,4.878866e+01,7.780483e+02,2.193470e+00,2.153854e+03,3.050424e+01,1.669567e+01,2.324519e+01,2.507721e+04,-2.183140e+01,-4.615093e+01
std,2.747453e+04,6.972083e-01,1.814716e+02,1.493804e+01,6.452759e-01,2.825510e+00,2.586101e+02,1.353995e+00,1.002074e+01,6.442060e+02,1.712394e+00,3.826377e+03,1.633990e+01,1.341664e+01,1.182931e+01,2.799856e+04,4.432336e+00,3.641571e+00
min,1.003000e+03,1.000000e+00,8.500000e-01,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,5.000000e+00,4.000000e+00,1.000000e+00,0.000000e+00,7.000000e+00,2.000000e+00,6.000000e+00,1.001000e+03,-3.660537e+01,-1.014668e+02
25%,1.329500e+04,1.000000e+00,3.999000e+01,1.351000e+01,1.000000e+00,1.000000e+00,6.177000e+01,4.000000e+00,4.200000e+01,3.410000e+02,1.000000e+00,3.000000e+02,1.800000e+01,8.000000e+00,1.500000e+01,6.717000e+03,-2.357706e+01,-4.798906e+01
50%,2.612000e+04,1.000000e+00,7.490000e+01,1.633000e+01,1.000000e+00,2.000000e+00,1.095000e+02,5.000000e+00,5.200000e+01,5.960000e+02,1.000000e+00,7.000000e+02,2.500000e+01,1.300000e+01,2.000000e+01,1.392000e+04,-2.288268e+01,-4.652852e+01
75%,3.875000e+04,1.000000e+00,1.349000e+02,2.069000e+01,1.000000e+00,4.000000e+00,1.911300e+02,5.000000e+00,5.700000e+01,9.730000e+02,3.000000e+00,1.833000e+03,3.900000e+01,2.000000e+01,3.000000e+01,3.019000e+04,-2.026636e+01,-4.347147e+01
max,9.998000e+04,2.100000e+01,6.735000e+03,4.096800e+02,2.600000e+01,2.400000e+01,1.366408e+04,5.000000e+00,7.600000e+01,3.992000e+03,2.000000e+01,4.042500e+04,1.050000e+02,1.050000e+02,1.180000e+02,9.973000e+04,4.368496e+01,1.382021e+01

In [48]:
df_merged_all.shape

(11845472, 40)

In [49]:
df_merged_all[df_merged_all.duplicated()]

Empty DataFrame
Columns: [customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state, order_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value, payment_sequential, payment_type, payment_installments, payment_value, review_score, review_creation_date, review_answer_timestamp, product_name_length, product_description_length, product_photos_qty, product_weight_grms, product_length_cm, product_height_cm, product_width_cm, seller_zip_code_prefix, seller_city, seller_state, geolocation_lat, geolocation_lng, geolocation_city, geolocation_state, product_category_name_english]
Index: []

[0 rows x 40 columns]

In [50]:
df_merged_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11845472 entries, 0 to 11845471
Data columns (total 40 columns):
 #   Column                         Dtype
---  ------                         -----
 0   customer_id                    object
 1   customer_unique_id             object
 2   customer_zip_code_prefix       int64
 3   customer_city                  object
 4   customer_state                 object
 5   order_id                       object
 6   order_status                   object
 7   order_purchase_timestamp       object
 8   order_approved_at              object
 9   order_delivered_carrier_date   object
 10  order_delivered_customer_date  object
 11  order_estimated_delivery_date  object
 12  order_item_id                  int64
 13  product_id                     object
 14  seller_id                      object
 15  shipping_limit_date            object
 16  price                          float64
 17  freight_value                  float64
 18  payment_sequential             int64
 19  payment_type                   object
 20  payment_installments           int64
 21  payment_value                  float64
 22  review_score                   int64
 23  review_creation_date           object
 24  review_answer_timestamp        object
 25  product_name_length            float64
 26  product_description_length     float64
 27  product_photos_qty             float64
 28  product_weight_grms            float64
 29  product_length_cm              float64
 30  product_height_cm              float64
 31  product_width_cm               float64
 32  seller_zip_code_prefix         int64
 33  seller_city                    object
 34  seller_state                   object
 35  geolocation_lat                float64
 36  geolocation_lng                float64
 37  geolocation_city               object
 38  geolocation_state              object
 39  product_category_name_english  object
dtypes: float64(12), int64(6), object(22)
memory usage: 3.5+ GB

In [51]:
for col in df_merged_all.columns.tolist():
    weird = (df_merged_all [[col]].map(type) != df_merged_all[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_merged_all[weird]) > 0:
        print(col)

In [52]:
df_merged_all.isnull().sum()

customer_id                      0
customer_unique_id               0
customer_zip_code_prefix         0
customer_city                    0
customer_state                   0
order_id                         0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
order_item_id                    0
product_id                       0
seller_id                        0
shipping_limit_date              0
price                            0
freight_value                    0
payment_sequential               0
payment_type                     0
payment_installments             0
payment_value                    0
review_score                     0
review_creation_date             0
review_answer_timestamp          0
product_name_length              0
product_description_length       0
product_photos_qty               0
product_weight_grms              0
product_length_cm                0
product_height_cm                0
product_width_cm                 0
seller_zip_code_prefix           0
seller_city                      0
seller_state                     0
geolocation_lat                  0
geolocation_lng                  0
geolocation_city                 0
geolocation_state                0
product_category_name_english    0
dtype: int64

In [53]:
#changing the data type to reduce the size of the file
df_merged_all = df_merged_all.astype({
    'customer_zip_code_prefix': 'float32',
    'order_item_id': 'int32',
    'freight_value': 'float32',
    'payment_sequential': 'int32',
    'payment_installments': 'int32',
    'review_score': 'int16',
    'product_name_length': 'float16',
    'product_description_length': 'float16',
    'product_photos_qty': 'int16',
    'product_weight_grms': 'float32',
    'product_length_cm': 'float32',
    'product_height_cm': 'float32',
    'product_width_cm': 'float32',
    'seller_zip_code_prefix': 'int16',
    'geolocation_lat': 'float32',
    'geolocation_lng': 'float32'
        })

In [54]:
df_merged_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11845472 entries, 0 to 11845471
Data columns (total 40 columns):
 #   Column                         Dtype
---  ------                         -----
 0   customer_id                    object
 1   customer_unique_id             object
 2   customer_zip_code_prefix       float32
 3   customer_city                  object
 4   customer_state                 object
 5   order_id                       object
 6   order_status                   object
 7   order_purchase_timestamp       object
 8   order_approved_at              object
 9   order_delivered_carrier_date   object
 10  order_delivered_customer_date  object
 11  order_estimated_delivery_date  object
 12  order_item_id                  int32
 13  product_id                     object
 14  seller_id                      object
 15  shipping_limit_date            object
 16  price                          float64
 17  freight_value                  float32
 18  payment_sequential             int32
 19  payment_type                   object
 20  payment_installments           int32
 21  payment_value                  float64
 22  review_score                   int16
 23  review_creation_date           object
 24  review_answer_timestamp        object
 25  product_name_length            float16
 26  product_description_length     float16
 27  product_photos_qty             int16
 28  product_weight_grms            float32
 29  product_length_cm              float32
 30  product_height_cm              float32
 31  product_width_cm               float32
 32  seller_zip_code_prefix         int16
 33  seller_city                    object
 34  seller_state                   object
 35  geolocation_lat                float32
 36  geolocation_lng                float32
 37  geolocation_city               object
 38  geolocation_state              object
 39  product_category_name_english  object
dtypes: float16(2), float32(8), float64(2), int16(3), int32(3), object(22)
memory usage: 2.7+ GB

In [55]:
# Exporting the cleaned and merged data
df_merged_all.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'merged_all.csv'))

In [56]:
df_merged_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11845472 entries, 0 to 11845471
Data columns (total 40 columns):
 #   Column                         Dtype
---  ------                         -----
 0   customer_id                    object
 1   customer_unique_id             object
 2   customer_zip_code_prefix       float32
 3   customer_city                  object
 4   customer_state                 object
 5   order_id                       object
 6   order_status                   object
 7   order_purchase_timestamp       object
 8   order_approved_at              object
 9   order_delivered_carrier_date   object
 10  order_delivered_customer_date  object
 11  order_estimated_delivery_date  object
 12  order_item_id                  int32
 13  product_id                     object
 14  seller_id                      object
 15  shipping_limit_date            object
 16  price                          float64
 17  freight_value                  float32
 18  payment_sequential             int32
 19  payment_type                   object
 20  payment_installments           int32
 21  payment_value                  float64
 22  review_score                   int16
 23  review_creation_date           object
 24  review_answer_timestamp        object
 25  product_name_length            float16
 26  product_description_length     float16
 27  product_photos_qty             int16
 28  product_weight_grms            float32
 29  product_length_cm              float32
 30  product_height_cm              float32
 31  product_width_cm               float32
 32  seller_zip_code_prefix         int16
 33  seller_city                    object
 34  seller_state                   object
 35  geolocation_lat                float32
 36  geolocation_lng                float32
 37  geolocation_city               object
 38  geolocation_state              object
 39  product_category_name_english  object
dtypes: float16(2), float32(8), float64(2), int16(3), int32(3), object(22)
memory usage: 2.7+ GB